<div class="language">
    <div>{{lng.language}}</div>
    <div>
        Rating: {{lng.rating}}
        
<!--
        <span ng-repeat="x in new Array(lng.rating)" class="glyphicon glyphicon-star"></span>
        <span ng-repeat="y in ratingComplementArray" class="glyphicon glyphicon-star-empty"></span>
-->
    </div>
    <div>{{lng.comment}}</div>
<!--
    li>Deutsch: <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>

</div>
        </ul>
-->
